{% extends 'main.html' %}

{% block title %}<title>Интернет-магазин autopark</title>{% endblock %}
{% block content %}
{% for enterprise in enterprises %}
    <h2>
        <p>{{enterprise.name}}</p>
    </h2>
    <ul>
        <li>Адрес: {{enterprise.address}}</li>
        <li>Число сотрудников: {{enterprise.num_of_employee}}</li>

    </ul>
    <a href="{% url 'deleteenterprise' enterprise.id %}"><button class="btn btn-danger" >Удалить</button></a>
    <a href="{% url 'updateenterprise' enterprise.id %}"><button class="btn btn-danger" >Изменить</button></a>


{% endfor %}
{% endblock %}