{% extends 'main.html' %}
{% block title %}<title>Интернет-магазин autopark</title>{% endblock %}
{% load tz %}
{% block content %}
{% for vehicle in vehicles %}
    <h2>
        <p>{{ vehicle.brand }}</p>
    </h2>
    <ul>
        <li>Год выпуска: {{ vehicle.year_manufacture }}</li>
        <li>Пробег: {{ vehicle.mileage }}</li>
        <li>Стоимость: {{ vehicle.price }}</li>
        <li>Владелец: {{ vehicle.owner }}</li>
        <li> Дата добавления машины: {{ vehicle.date|timezone:"Asia/Khandyga" }}</li>
    </ul>
    <a href="{% url 'deletevehicle' vehicle.id %}"><button class="btn btn-danger" >Удалить</button></a>
    <a href="{% url 'updatevehicle' vehicle.id %}"><button class="btn btn-danger" >Изменить</button></a>
{% endfor %}
{% endblock %}